    /*
    Flaticon icon font: Flaticon
    Creation date: 11/03/2017 12:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-connection:before { content: "\f100"; }
.flaticon-interface:before { content: "\f101"; }
.flaticon-circle:before { content: "\f102"; }
.flaticon-user-shape:before { content: "\f103"; }
.flaticon-calendar-with-spring-binder-and-date-blocks:before { content: "\f104"; }
.flaticon-remove-symbol:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-menu:before { content: "\f108"; }
.flaticon-note:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-garbage:before { content: "\f10b"; }
.flaticon-glasses:before { content: "\f10c"; }
.flaticon-pie-chart:before { content: "\f10d"; }
.flaticon-house:before { content: "\f10e"; }
.flaticon-vector:before { content: "\f10f"; }
.flaticon-paper-plane:before { content: "\f110"; }
.flaticon-download-1:before { content: "\f111"; }
.flaticon-heart:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-next-1:before { content: "\f114"; }
.flaticon-download:before { content: "\f115"; }
.flaticon-cancel:before { content: "\f116"; }
.flaticon-monitor:before { content: "\f117"; }
.flaticon-link:before { content: "\f118"; }
.flaticon-upload-1:before { content: "\f119"; }
.flaticon-copy:before { content: "\f11a"; }
.flaticon-folder:before { content: "\f11b"; }
.flaticon-tag:before { content: "\f11c"; }
.flaticon-dislike:before { content: "\f11d"; }
.flaticon-like:before { content: "\f11e"; }
.flaticon-settings-1:before { content: "\f11f"; }
.flaticon-upload:before { content: "\f120"; }
.flaticon-hand:before { content: "\f121"; }
.flaticon-book:before { content: "\f122"; }
.flaticon-padlock:before { content: "\f123"; }
.flaticon-logout:before { content: "\f124"; }
.flaticon-edit:before { content: "\f125"; }
.flaticon-share:before { content: "\f126"; }
.flaticon-placeholder:before { content: "\f127"; }
.flaticon-back:before { content: "\f128"; }
.flaticon-magnifying-glass:before { content: "\f129"; }
.flaticon-settings:before { content: "\f12a"; }
.flaticon-avatar:before { content: "\f12b"; }
.flaticon-next:before { content: "\f12c"; }
.flaticon-envelope:before { content: "\f12d"; }
.flaticon-technology:before { content: "\f12e"; }
.flaticon-computer-1:before { content: "\f12f"; }
.flaticon-computer:before { content: "\f130"; }
    
    $font-Flaticon-connection: "\f100";
    $font-Flaticon-interface: "\f101";
    $font-Flaticon-circle: "\f102";
    $font-Flaticon-user-shape: "\f103";
    $font-Flaticon-calendar-with-spring-binder-and-date-blocks: "\f104";
    $font-Flaticon-remove-symbol: "\f105";
    $font-Flaticon-home: "\f106";
    $font-Flaticon-down-arrow: "\f107";
    $font-Flaticon-menu: "\f108";
    $font-Flaticon-note: "\f109";
    $font-Flaticon-chat: "\f10a";
    $font-Flaticon-garbage: "\f10b";
    $font-Flaticon-glasses: "\f10c";
    $font-Flaticon-pie-chart: "\f10d";
    $font-Flaticon-house: "\f10e";
    $font-Flaticon-vector: "\f10f";
    $font-Flaticon-paper-plane: "\f110";
    $font-Flaticon-download-1: "\f111";
    $font-Flaticon-heart: "\f112";
    $font-Flaticon-star: "\f113";
    $font-Flaticon-next-1: "\f114";
    $font-Flaticon-download: "\f115";
    $font-Flaticon-cancel: "\f116";
    $font-Flaticon-monitor: "\f117";
    $font-Flaticon-link: "\f118";
    $font-Flaticon-upload-1: "\f119";
    $font-Flaticon-copy: "\f11a";
    $font-Flaticon-folder: "\f11b";
    $font-Flaticon-tag: "\f11c";
    $font-Flaticon-dislike: "\f11d";
    $font-Flaticon-like: "\f11e";
    $font-Flaticon-settings-1: "\f11f";
    $font-Flaticon-upload: "\f120";
    $font-Flaticon-hand: "\f121";
    $font-Flaticon-book: "\f122";
    $font-Flaticon-padlock: "\f123";
    $font-Flaticon-logout: "\f124";
    $font-Flaticon-edit: "\f125";
    $font-Flaticon-share: "\f126";
    $font-Flaticon-placeholder: "\f127";
    $font-Flaticon-back: "\f128";
    $font-Flaticon-magnifying-glass: "\f129";
    $font-Flaticon-settings: "\f12a";
    $font-Flaticon-avatar: "\f12b";
    $font-Flaticon-next: "\f12c";
    $font-Flaticon-envelope: "\f12d";
    $font-Flaticon-technology: "\f12e";
    $font-Flaticon-computer-1: "\f12f";
    $font-Flaticon-computer: "\f130";