	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/03/2017 12:44
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 1.2rem;
font-style: normal;
}

.flaticon-connection:before { content: "\f100"; }
.flaticon-interface:before { content: "\f101"; }
.flaticon-circle:before { content: "\f102"; }
.flaticon-user-shape:before { content: "\f103"; }
.flaticon-calendar-with-spring-binder-and-date-blocks:before { content: "\f104"; }
.flaticon-remove-symbol:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-menu:before { content: "\f108"; }
.flaticon-note:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-garbage:before { content: "\f10b"; }
.flaticon-glasses:before { content: "\f10c"; }
.flaticon-pie-chart:before { content: "\f10d"; }
.flaticon-house:before { content: "\f10e"; }
.flaticon-vector:before { content: "\f10f"; }
.flaticon-paper-plane:before { content: "\f110"; }
.flaticon-download-1:before { content: "\f111"; }
.flaticon-heart:before { content: "\f112"; }
.flaticon-star:before { content: "\f113"; }
.flaticon-next-1:before { content: "\f114"; }
.flaticon-download:before { content: "\f115"; }
.flaticon-cancel:before { content: "\f116"; }
.flaticon-monitor:before { content: "\f117"; }
.flaticon-link:before { content: "\f118"; }
.flaticon-upload-1:before { content: "\f119"; }
.flaticon-copy:before { content: "\f11a"; }
.flaticon-folder:before { content: "\f11b"; }
.flaticon-tag:before { content: "\f11c"; }
.flaticon-dislike:before { content: "\f11d"; }
.flaticon-like:before { content: "\f11e"; }
.flaticon-settings-1:before { content: "\f11f"; }
.flaticon-upload:before { content: "\f120"; }
.flaticon-hand:before { content: "\f121"; }
.flaticon-book:before { content: "\f122"; }
.flaticon-padlock:before { content: "\f123"; }
.flaticon-logout:before { content: "\f124"; }
.flaticon-edit:before { content: "\f125"; }
.flaticon-share:before { content: "\f126"; }
.flaticon-placeholder:before { content: "\f127"; }
.flaticon-back:before { content: "\f128"; }
.flaticon-magnifying-glass:before { content: "\f129"; }
.flaticon-settings:before { content: "\f12a"; }
.flaticon-avatar:before { content: "\f12b"; }
.flaticon-next:before { content: "\f12c"; }
.flaticon-envelope:before { content: "\f12d"; }
.flaticon-technology:before { content: "\f12e"; }
.flaticon-computer-1:before { content: "\f12f"; }
.flaticon-computer:before { content: "\f130"; }