extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")
	script(type='text/javascript').

block content

	h1.first #{modalTitle1}
	h1.second #{modalTitle2}

	section.login
		form(class='form-signin', action='/cloudregister2', method='POST', id="registerform")
			.form-group
					label(for='inputEmail') Your email
					input#inputEmail.form-control.floating-label(class="form-control" type='email', placeholder='E-mail', name='email', required, readonly)&attributes({value}) 
			.form-group
					label(for='inputPassword') Enter password (min 6 characters)
					input#inputPassword.form-control.floating-label(class="form-control" type='password', placeholder='Password', name='password', autofocus, required)
			.form-group
					label(for='inputPasswordRepeat') Repeat password
					input#inputPasswordRepeat.form-control.floating-label(class="form-control" type='password', placeholder='Repeat password', name='password_repeat', required)

			.form-group
				if errorMessage
					div.alert(class='fade in alert') #{errorMessage}
			.form-group
				input#registerButton(type='submit', name='submitButton', form="registerform", value="Sign up")
				div.hr