extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")

block content

	h1.first #{modalTitle1}
	h1.second #{modalTitle2}

	section.login
		form(class='form-signin', action='/register', method='POST', id="registerform")
			.form-group
				if message
					div.alert(class='fade in alert') #{message}