extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")
	script(type='text/javascript').

block content

	h1.first #{modalTitle1}
	h1.second #{modalTitle2}

	section.login
		form(class='form-signin', action='/register', method='POST', id="registerform")
			.form-group
					label(for='inputSlaveKey', class="hidden") Device ID
					input#inputSlaveKey.form-control.floating-label(class="form-control hidden", type='text', placeholder='Slave ID', name='slaveId', required, readonly)&attributes({value}) 
			.form-group
					label(for='userName') Enter your name
					input#userName.form-control.floating-label(class="form-control" type='text', placeholder='Your name', name='userName', required, autofocus)
			.form-group
					label(for='inputEmail') Enter your email adress
					input#inputEmail.form-control.floating-label(class="form-control" type='email', placeholder='E-mail', name='email', required)

			.form-group
				if errorMessage
					div.alert(class='fade in alert') #{errorMessage}

			.form-group
				input(class="right",type='submit', name='submit', form="registerform", value="Next")
				div.hr