extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")
	script(type='text/javascript').

block content

	h1.first #{modalTitle1}
	h1.second #{modalTitle2}

	section.welcome
		
			.form-group

				div.fnt--white Cloud account - if you want to control this controller over pimatico service providers. With single account, you can control multiple controllers with enhanced security.

				a(class="right", href="cloudregister") Register with cloud account
				div.spacer

				div.fnt--white Local account - if you don't plan to control this controler over internet by using pimatico service providers. This account type will not try to communicate with any of the online services so it is suitable for use in localized network eviroments.

				a(class="right", href="register") Create local account
				div.hr

