doctype html
html(lang="en")
	head
		title #{title}
		link(rel='stylesheet', href='/static/font/flaticon.css', type='text/css')
		link(rel='stylesheet', href='/static/animate.min.css', type='text/css')
		link(rel='stylesheet', href='/bgstatic/loaded.css', type='text/css')

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="HandheldFriendly", content="true")
		script(type='text/javascript').
		block scripts
	body
		block content