/* CSS Document */

/*
 * IMporting the font
*/	
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto);

/*
 * General styling
 */
body {
	padding:0;
	margin:01rem 1.5rem;
	background-color:#f5f5f5;
	background-image: url("bg-login.jpg");
    background-repeat: repeat;
    font-family: 'Roboto Slab', serif;
	}
img.logo{
	max-width: 200px;
	margin:0 auto;
	width: 100%;
	display: block;
}
.footer-message{
	position: absolute;
	bottom: 1rem;
	right:1rem;
	left: 1rem;
	color: white;
	font-size: 0.8rem;
	text-align: right;
}
.clear {
	clear:both;
	width:100%;
	color: white;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.clear a {
	color: white;
}
.hidden{
	display: none;
}

h1{

	margin:0px auto;
	padding:0;
	font-weight:1000;
	color: white;
	text-align:center;
/*	text-shadow: 10px 10px 4px rgba(0, 0, 0, .5);*/
	}	

h1.first{
	font-size: 3rem;
}
h1.second{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
/*
 * Styling the container for the login form.
 */

.login {
	max-width: 300px;
    margin: 0 auto;
/*
	width:350px;
	margin:50px auto;
	*/
	padding:1rem;
	
	background-color:#2c3e50;
	box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);
	}

.welcome{
	max-width: 600px;
    margin: 0 auto;
	padding:1rem;
	
	background-color:#2c3e50;
	box-shadow: 10px 10px 4px rgba(0, 0, 0, .5);
}

.spacer{
	display: block;
	width: :100%;
	height: 20px;
	clear: both;
}

.alert{ /*flash messages from session*/
	
   	max-width: 48rem;
	padding:0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0,5rem;

	color: #8a6d3b;
    background-color: #fcf8e3;
    border: solid 1px #faebcc;
    opacity: 0.8;

}
/*
 * Styling the Lables and checkbox font
 */
		
label {
	font-size:1.2rem;
	color:#fff;
	}
	
.check {
	font-size:15px;
}	

a{
	text-decoration: none;
	text-align: center;
}	

/*
 * General Input Style
 */
		
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"], a  {
	width: calc(100% - 33px);
	margin:10px 0 10px 0;
	padding:0.5rem;
	border: solid 1px #ccc;
	font-size:1rem;
	background-color:#ecf0f1;
	}	

/*
 * Styling the Buttons
 */
		
input[type="submit"],
input[type="button"], a {
	position:relative;
	width:calc(50% - 13px);
	background-color:#3498db;
	border:none;
	color:#FFF;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #2980b9;
    -moz-box-shadow: 0px 9px 0px #2980b9;
    box-shadow: 0px 9px 0px #2980b9;
	}
	
input[type="submit"]:active,
input[type="button"]:active
a:active{
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
    position:relative;
    top:7px;
	
    -webkit-box-shadow: 0px 2px 0px #16a085;
    -moz-box-shadow: 0px 2px 0px #16a085;
    box-shadow: 0px 2px 0px #16a085;
}	
	
input[type="submit"], a {
	float:left;
	clear: both;
	}

.right{
	float:right !important;
}	

.hr{
	clear: both;;
	width: 100%;
}

/*
 * Styling the checkbox
 */
		
input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	position: relative;
}

input[type="checkbox"]:active, .input[type="checkbox"]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.hidden{
	display:none;
}


.fnt--white{
	color: white;
}
