extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")
	script(type='text/javascript').

block content
	img.logo(src="/static/logo.png")
	h1.first.hidden #{modalTitle1}
	
	h1.second #{modalTitle2}
	section.login
		form.form-horizontal(style='margin-bottom: 0px !important;', method="post", id="loginform", action="/login")
			.form-group
					label(for='inputEmail') E-mail
					input#inputEmail.form-control.floating-label(class="form-control" type='email', placeholder='E-mail', name='email', required, autofocus)
			.form-group
					label(for='inputPassword') Password
					input#inputPassword.form-control.floating-label(class="form-control" type='password', placeholder='Password', name='password', required)
			.form-group
					input#rememberMe(type='checkbox', name='rememberme')
					label(for="rememberMe", class='check') Remember me

			.form-group
				if errorMessage
					div.alert(class='fade in alert') #{errorMessage}

			.form-group
				input(type='submit', name='submit', form="loginform", value="Log in")
				div.clear.right Forgot password? 
				a(href="/recover") Recover.
				div.clear
		
	div.footer-message #{footerMessage}