extends ../default

block scripts
	link(rel="stylesheet", href="/bgstatic/login.css")
	script(type='text/javascript').

block content

	h1.first #{modalTitle1}
	h1.second #{modalTitle2}
	section.login
		form.form-horizontal(style='margin-bottom: 0px !important;', method="post", id="recoverform", action="/login")
			.form-group
					label(for='inputEmail') Enter your email
					input#inputEmail.form-control.floating-label(class="form-control" type='email', placeholder='E-mail', name='email', required, autofocus)

			.form-group
				if errorMessage
					div.alert(class='fade in alert') #{errorMessage}

			.form-group
				input(type='submit', name='submit', form="recoverform", value="Recover", disabled)
				div.clear Currently not supported but I'm working on it. Contact author. 
					a(href="/login") Back.

		